@import "base/variables";
@import "libs/reset";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:ital,wght@0,400;1,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");

a {
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #fff;
}

body {
    /*     font-family: 'Roboto', sans-serif; */
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    background-color: #0b0b0b;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1230px;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 5;
    height: 100vh;
    background: rgba(11, 11, 11, 0.3);

    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 31px;
        border: 1px solid #fff;
        width: 60px;
        height: 60px;
        background: rgba(255, 255, 255, 0.1);
        cursor: pointer;
    }

    &-btn div {
        margin: 5px 0;
        width: 36px;
        height: 2px;
        background-color: #fff;
    }

    &-content__title {
        margin-bottom: 50px;
        font-family: "Roboto", sans-serif;
        font-size: 110px;
        line-height: 112px;
    }

    &-content__text {
        margin-bottom: 50px;
        width: 290px;
        font-size: 26px;
    }
}

.logo {
    margin-bottom: 29px;
    padding-top: 36px;

    img {
        height: 70px;
    }
}

.button {
    display: inline-block;
    border: 1px solid #fff;
    padding: 30px 62px;
    background: rgba(255, 255, 255, 0.15);
    transition: all 0.5s;

    &:hover {
        background-color: #770302;
    }
}

.menu {
    position: absolute;
    left: -100%;
    top: 0;
    z-index: 7;
    width: 100%;
    background-color: #000;
    transition: all 0.5s;

    &__list {
        display: flex;
        align-items: center;
        height: 100vh;
    }

    &__list ul {
        list-style: none;
    }

    &__list a {
        display: inline-block;
        border-bottom: 3px solid #b70021;
        padding: 30px 25px 14px 0;
        min-width: 368px;
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        transition: all 0.5s;
    }

    &__list a:hover {
        margin-left: 37px;
        border-color: #fff;
        color: #b70021;
        transform: scale(1.2);
    }

    &.active {
        left: 0;
    }
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 31px;
    width: 50px;
    height: 50px;
    cursor: pointer;

    &::after,
    &::before {
        content: "";
        position: absolute;
        width: 70px;
        height: 2px;
        background-color: #fff;
        transform-origin: left;
    }

    &::before {
        bottom: -1px;
        transform: rotate(-45deg);
    }

    &::after {
        transform: rotate(45deg);
    }
}

.container-menu {
    position: relative;
}

.slider {
    &__item {
        height: 100vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .slick-dots button {
        outline: none;
        border: none;
        border-radius: 50%;
        padding: 0;
        width: 15px;
        height: 15px;
        font-size: 0;
        background-color: #0b0b0b;
        cursor: pointer;
    }

    .slick-dots .slick-active button {
        background-color: #fff;
    }

    .slick-dots li {
        display: inline-block;
        margin: 0 5px;
    }

    .slick-dots {
        position: relative;
        z-index: 6;
        margin: -55px auto 0;
        padding: 0 15px;
        max-width: 1230px;
    }
}

.statistics {
    margin: 160px 0 100px;

    &-items {
        display: flex;
        justify-content: space-around;
        text-align: center;
    }

    &-item__title {
        margin-bottom: 19px;
    }

    &-item__num {
        margin-bottom: 7px;
        font-family: "Roboto", sans-serif;
        font-size: 96px;
        line-height: 112px;
    }

    &-item__num span {
        margin-left: -10px;
        font-size: 24px;
        line-height: 28px;
    }

    &-item__descr {
        color: #b70021;
    }

    &-item__num--speed span {
        position: relative;
        display: inline-block;
    }

    &-item__num--speed span::before {
        content: "+";
        position: absolute;
        top: -60px;
    }
}

.video {
    margin-bottom: 100px;
}

.advantages {
    &-inner__row {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    &__title {
        position: absolute;
        top: 0;
        font-size: 36px;
        line-height: 42px;
        color: #b70021;
    }

    &__title--bottom {
        right: 0;
        top: auto;
        bottom: 0;
    }

    &__text {
        width: 400  px;
    }

    &__text ul {
        list-style: none;
    }

    &-descr {
        width: 100%;
        max-width: 570px;
    }
}

.design {
    &__images {
        margin-bottom: 100px;
    }

    &-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    &-row__item {
        display: flex;
        justify-content: space-between;
        padding-right: 15px;
        width: 100%;
        max-width: 570px;
    }

    &-row__item-num {
        color: #b70021;
    }

    &-row__item-text {
        padding-top: 25px;
        max-width: 430px;
    }
}

.footer {
    padding: 83px 0 20px;
    background-color: #690102;

    &-btn {
        margin-bottom: 83px;
        text-align: center;
    }

    &-btn .button:hover {
        background-color: #0b0b0b;
    }

    &-copy {
        font-weight: 700;
        text-align: center;
    }

    &-copy ul {
        list-style: none;
    }

    &-copy li {
        position: relative;
        display: inline-block;
        padding: 0 10px;
    }

    &-copy li + li::before {
        content: "|";
        position: absolute;
        left: -5px;
    }
}

@media (max-width: 1220px) {
    .advantages__text {
        padding-left: 20px;
    }

    .design__images img {
        width: 100%;
    }
}

@media (max-width: 1020px) {
    .design-row {
        display: block;
    }

    .design-row__item {
        margin-bottom: 30px;
        padding-right: 0;
        max-width: 100%;
    }

    .design-row__item-text {
        max-width: 100%;
    }

    .design__images,
    .design-row {
        margin-bottom: 50px;
    }
}

@media (max-width: 930px) {
    .advantages-inner__row {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 50px;
    }

    .advantages__title {
        position: static;
    }

    .advantages-descr {
        text-align: center;
    }

    .advantages__text {
        margin: 25px auto;
        padding-left: 0;
    }

    .advantages-inner__row--mobile .advantages-descr {
        display: flex;
        flex-direction: column-reverse;
        order: -1;
    }
}

@media (max-width: 820px) {
    .statistics-items {
        flex-wrap: wrap;
    }

    .statistics-item {
        padding: 50px;
    }
}

@media (max-width: 650px) {
    .advantages__img img {
        width: 100%;
    }

    .slider__item--2 {
        background: 40%/cover;
    }

    .design-row__item-text {
        font-size: 18px;
    }
}

@media (max-width: 440px) {
    .header-content__title {
        margin-top: 20px;
        font-family: "Roboto", sans-serif;
        font-size: 80px;
        line-height: 90px;
    }
}

@media (max-width: 410px) {
    .logo img {
        height: 50px;
    }

    .header-content__text {
        margin-bottom: 40px;
        font-size: 22px;
    }

    .header-content__title {
        margin-top: 10px;
        margin-bottom: 35px;
        font-family: "Roboto", sans-serif;
        font-size: 70px;
        line-height: 85px;
    }

    .menu__list a {
        display: block;
        padding: 20px 10px 5px 0;
        min-width: 100%;
        font-size: 30px;
        line-height: 44px;
    }

    .menu__list ul {
        width: 100%;
    }

    .statistics-item {
        padding: 25px 0;
    }

    .statistics {
        margin: 110px 0 50px;
    }

    .button {
        padding: 20px 45px;
    }

    .video {
        margin-bottom: 50px;
    }

    .body {
        font-size: 20px;
        line-height: 24px;
    }

    .advantages__text {
        width: 100%;
        font-size: 20px;
    }
}